<div class="home">
<h1>Decoradores Angular</h1>
<app-item-detail [item]="currentItem"></app-item-detail>
<app-item-output (newItemEvent)="addItem($event)"></app-item-output>
<button mat-stroked-button color="warn" (click)="removeItem($event)">Apagar Carrinho</button>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>

<!-- O destino entre colchetes, [], é a propriedade com a qual você decora no componente filho.
A fonte de associação, a parte à direita do sinal de igual,
são os dados que o componente pai passa para o componente aninhado.@Input() -->

<h4>@Input(): Faz com que o componente o componente pai possa enviar dados para o filho</h4>
<h4>@Output(): Faz com que o componente filho envie dados para o pai</h4>
<h3>Teste&Estudo</h3>
</div>
